<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle start>
      <ion-icon name="md-menu"></ion-icon>
    </button>
    <ion-title text-capitalize>profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card class="profile-card" color="grayColor">
      <img src="assets/img/user-img.png" (click)="presentActionSheet()" />
      <ion-card-content>
        <h3 class="bold" color="dark">Justin Timberlake</h3>
        <p color="dark">Justin Timberlake@yahoo.com</p>
        <ion-fab right top>
          <button color="secondary" (click)="activeEdit()" ion-fab>
            <ion-icon name="md-create" *ngIf="Disabled"></ion-icon>
            <ion-icon name="checkmark" *ngIf="!Disabled" class="save_btn"></ion-icon>
          </button>
        </ion-fab> 
      </ion-card-content>
    </ion-card>

    <ion-list class="profile-form">
      <ion-item no-padding>
        <ion-icon name="md-person" color="secondary" item-left small></ion-icon>
        <ion-input class="name-user" type="text" placeholder="Justin Timberlake" disabled="{{Disabled}}"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-icon name="ios-mail" color="secondary" item-left small></ion-icon>
        <ion-input type="email" placeholder="Justin Timberlake@yahoo.com" disabled="{{Disabled}}"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-icon name="md-lock" color="secondary" item-left small></ion-icon>
        <ion-input type="password"  placeholder="************" disabled="{{Disabled}}"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-icon name="md-call" color="secondary" item-left small></ion-icon>
        <ion-input type="tel" placeholder="91234 56789" disabled="{{Disabled}}" id="elemtId"></ion-input>
      </ion-item>
    </ion-list>

    <h4 class="list-title" color="secondary">Likes</h4>
    <ion-card [navPush]="detailPage" class="category-card">
      <img src="assets/img/img1.png" />
      <div class="card-title" text-uppercase>
        <h4 color="secondary">Houses in Ciudad Managu</h4>
        <p color="dark">$1,500.00</p>
        <p color="grayText" class="time">2 Day ago</p>
      </div>
    </ion-card>

    <ion-card [navPush]="detailPage" class="category-card">
      <img src="assets/img/img2.png" />
      <div class="card-title" text-uppercase>
        <h4 color="secondary">Houses in Ciudad Managu</h4>
        <p color="dark">$1,500.00</p>
        <p color="grayText" class="time">2 Day ago</p>
      </div>
    </ion-card>
</ion-content>