page-profile {
    ion-fab[top]{
        top: 130px;
    }
    .text-input[disabled]{
        opacity: .7;
    }
    .category-card{
        &:nth-child(2n){
            margin-right: 5px;
             margin-left: 10px;
        }
        &:nth-child(2n+1){
            margin-left: 5px;
             margin-right: 10px;
        }
    }
    input::-webkit-input-placeholder {
        color: black !important;
    }
    .list-md{
        margin: 10px;
        .item-block{
            .item-inner{
                border: none !important;
                margin-left: 10px;
            }
        }
    }
    .item-md{
        border-bottom: 1px solid color($colors , lightenGray) !important;
    }
}
.list-title{
    margin-left: 17px;
    margin-right: 17px;
    font-size: 1.7rem;
}
.profile-card{
    @extend %box-shadow;
    margin: 0 0 5px 0;
    width: 100%;
    img{
        height: 160px;
        object-fit: cover;
        -o-object-fit: cover;
    }
    h3{
        font-size: 1.8rem;
    }
    p{
        font-size: 1.3rem;
    }
}