page-sec-details {
    .item-block{
        @extend %box-shadow;
        margin: 0 10px;
        width: calc(100% - 20px);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: color($colors , grayColor);
        .item-inner{
            padding-left: 16px;
        }
        h2{
            font-size: 1.4rem;
            font-weight: 500;
            color: color($colors,secondary);
        }
        .price{
            margin-bottom: 25px;
            color: color($colors,dark);
        }
        p{
            font-size: 1.2rem;
            margin-top: 5px;
            color: color($colors,dark);
            ion-icon{
                margin-right: 3px;
            }
        }
    }
}
.detail-img{
    @extend %cover;
    width: 100%;
    height: 150px;
    background-image: url(../assets/img/detail-img.png);
}
// More Of Details
// --------------------------------------------------
.more-details{
    background: color($colors , dark);
    .card-title-md{
        font-size: 2.1rem;
    }
    h3{
        font-size: 1.6rem;
        margin: 5px 0 12px 0 !important;
    }
    p{
        font-size: 1.3rem;
        line-height: 1.3;
    }
}
.grid-info{
    img{
        height: 25px;
        max-width: 25px;
        object-fit: contain;
        -o-object-fit: contain;
        margin: 5px auto;
    }
    .more-advantage{
        font-size: 3.6rem;
        ion-icon{
            margin-top: 6px;
        }
    }
    p{
        @extend %overflow;
        font-size: 1.2rem;
    }
}
// images sass
//----------------------------    
.images{
    ion-row{
        margin-bottom: 12px;
        margin-top: 8px;
    }
    ion-col{
        padding: 0 8px 0 0 !important;
    }
    img{
        height: 50px;
        width: 100%;
        border-radius: 2px;
        object-fit: cover;
        -o-object-fit: cover;
    }
}