page-add {
    .scroll-content{
        padding: 10px;
    }
    .list-md{
        margin: 10px 10px 30px 10px;
    }
    .item-md{
        margin-bottom: 5px;
    }
    .label-md{
        font-size: 1.4rem;
        margin: 13px 8px 0 0;
    }
    .select-md{
        font-size: 1.5rem;
        padding: 13px 8px 0 16px;
    }
    .button-md{
        font-weight: normal;
        font-size: 1.45rem;
    }
    .text-input-md{
        font-size: 1.5rem;
        margin: 13px 8px 0 8px;
    }
}
.add-img{
    width: 100%;
    height: 140px;
    background-color: color($colors,grayColor);
    img{
        width: 40px;
        height: 40px;
        margin-top: calc((140px - 40px)/2);
    }
}