<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <div *ngIf="user; then loggedIn else loggedOut">
      </div>
      <ng-template #loggedIn>
        <span *ngIf="user.fb !=true">
          <ion-title color="light">Welcome {{user.user_display_name}} </ion-title>
        </span>
        <div *ngIf="user.fb==true">
          <ion-item>
            <ion-title color="light">Welcome {{user.username}} </ion-title>
          </ion-item>
          <ion-item>
            <ion-avatar class="avatar">
              <img [src]="user.picture" />
            </ion-avatar>
          </ion-item>
        </div>
      </ng-template>
      <ng-template #elseTemplateName>
        <ion-title color="light">Welcome To JokerLeb</ion-title>
      </ng-template>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item menuClose no-lines text-uppercase no-padding *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" item-left></ion-icon>
        {{p.title}}
      </ion-item>
      <div *ngIf="token==true">
        <ion-item menuClose no-lines text-uppercase no-padding class="new-post" (click)="goTo('AddPage')">
          <ion-icon name="md-add-circle" color="grayColor" item-left></ion-icon>
          Post An Ad
        </ion-item>
        <ion-item menuClose no-lines text-uppercase no-padding class="new-post" (click)="goTo('MyAdsPage')">
          <ion-icon name="md-archive" color="grayColor" item-left></ion-icon>
          My Ads
        </ion-item>
      </div>
      <ion-item menuClose no-lines text-uppercase no-padding class="new-post" (click)="goTo('FavoritesPage')">
        <ion-icon name="md-heart" color="grayColor" item-left></ion-icon>
        My Favorites
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <div *ngIf="token==true">
      <ion-buttons class="log-out" end>
        <button ion-button text-lowercase icon-right clear menuClose (click)="logout()">
          Logout
          <ion-icon color="grayColor" name="ios-log-out" large></ion-icon>
        </button>
      </ion-buttons>
    </div>
    <div *ngIf="!token || token!=true">
      <ion-buttons class="log-out" end>
        <button ion-button text-lowercase icon-left clear menuClose (click)="goTo('LoginPage')">
          Login
          <ion-icon color="grayColor" name="ios-log-in" large></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons class="log-out" end>
        <button ion-button text-lowercase icon-right clear menuClose (click)="goTo('RegisterPage')">
          Create an Account
          <ion-icon color="grayColor" name="ios-person-add" large></ion-icon>
        </button>
      </ion-buttons>
    </div>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage " #content swipeBackEnabled="false "></ion-nav>